{
 # Comments are okay

 "links" : {
    "terms_of_service" : "http://www.librarysimplified.org/NYPLEULA",
    "privacy_policy" : "http://www.nypl.org/help/about-nypl/legal-notices/privacy-policy"
 },
 "policies" : {
    "lending" : {
        "60": {"audiences": ["Children"]},
        "152": {"audiences": ["Children"]},
        "62": {"audiences": ["Children"]}
    },
    "languages" : {
        "large_collections" : ["eng"],
        "small_collections" : ["rus", "chi", "spa"]
    },
    "featured_lane_size" : 3,
    "minimum_featured_quality" : 0,
    "holds" : "allow",
    "default_page_max_age": 0,
#   "authentication" : ["api.millenium_patron"]
    "authentication" : ["api.evergreen_patron"]
},
"integrations" : {
    "Circulation Manager" : {
      "url": "http://localhost"
    },
    "Content Server" : {
      "url": "http://oacontent.librarysimplified.org"
    },
    "Elasticsearch" : {
      "url": "http://localhost",
      "works_index": "circulation-works"
    },
    "Evergreen" : {
      "url": "http://dl-ils.dlogics.com/",
      "test_username" : "7",
      "test_password" : "7777"
    },
    "Metadata Wrangler" : {
      "url": "http://localhost/meta"
    },
    "Millenium" : {
      "url" : "http://dans-ubuntu-nypl2.dlogics.com/millennium/PATRONAPI/",
      "test_username" : "5",
      "test_password" : "5555"
    },
    "Theta" : {
      "library_id" : "ThetaACS",
      "username" : "name",
      "password" : "pass",
      "server" : "http://acstheta.dlogics.com/bookstore/api/"
    },
    "Postgres" : {
      "production_url": "postgres://simplified:test@172.17.0.2:5432/simplified_circ_db"
    }
},
"default_notification_email_address": "noreply@pixelchimera.com"
}
